/* General Navbar Styles */
.navbar {
    background-color: rgba(15, 23, 42, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem;
}

/* Logo */
.logo {
    font-size: 1.5rem;
    color: #f3f4f6;
    font-weight: 600;
    text-decoration: none;
}

/* Centered Navigation Links */
.navLinks {
    display: flex;
    gap: 1.5rem;
    flex-grow: 1;
    justify-content: center;
    /* margin-top: 0.5rem; */
}

.link {
    color: #d1d5db;
    text-decoration: none;
    transition: color 0.2s ease;
    margin-top: 0.5rem;
    display: flex;
}

.link:hover {
    color: #60a5fa;
}

/* Download CV Button on the Right */
.downloadButton {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem; 
    color: #d1d5db;
    border: 1px solid #60a5fa;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    justify-content: space-around;
}

.downloadButton:hover {
    background-color: #60a5fa;
    color: #1f2937;
}

.icon {
    margin-left: 0.5rem;
}

/* Hamburger Menu Button */
.menuButton {
    display: none;
    font-size: 1.5rem;
    color: #d1d5db;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mobile Menu */
.mobileMenu {
    display: none;
    flex-direction: column;
    background-color: #1f2937;
    padding: 1rem;
}

.mobileLink, .mobileDownloadButton {
    color: #d1d5db;
    padding: 0.5rem 0;
    border-bottom: 1px solid #374151;
    text-decoration: none;
    transition: color 0.2s ease;
}

.mobileDownloadButton {
    border: none;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.mobileLink:hover, .mobileDownloadButton:hover {
    color: #60a5fa;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .navLinks {
        display: none;
    }

    .downloadButton {
        display: none;
    }

    .menuButton {
        display: block;
    }

    .mobileMenu {
        display: none; /* Initially hidden */
    }

    .mobileMenu.active {
        display: flex; /* Show when active */
    }
}
